.form-field {
    display: flex;
    flex-direction: column;
    width: 28vw;
    margin-bottom: 12px;
}

.form-field label {
    font-weight: bold;
}

.form-field input,
.form-field textarea {
    border: 1px solid #ccc;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

.form-field textarea {
    resize: none;
    height: 125px;
}