<app-layout>
    <app-modal [isOpen]="isModalOpen" (onClose)="toggleModalHandler()">
        <app-post-editor (onCancel)="toggleModalHandler()" (onSubmit)="toggleModalHandler()"></app-post-editor>
    </app-modal>

    <ul class="post-list">
        <div *ngFor="let postItem of postService.getPosts()" [@flyInOut]="'in'">
            <app-post-item [id]="postItem.id" [title]="postItem.title" [content]="postItem.content">
            </app-post-item>
        </div>
    </ul>

    <app-button [fab]="true" (onClick)="toggleModalHandler()">+</app-button>
</app-layout>