<mat-card class="post-item">
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-content>
        <div *ngIf="!isEditing">
            {{content}}
        </div>
        <div *ngIf="isEditing">
            <app-post-editor [postId]="this.id" (onCancel)="toggleEditHandler()" (onSubmit)="toggleEditHandler()">
            </app-post-editor>
        </div>
    </mat-card-content>

    <mat-card-actions *ngIf="!isEditing">
        <button mat-raised-button color="primary" (click)="toggleEditHandler()">Edit</button>
        <button mat-button (click)="deletePostHandler()">Delete</button>
        <button mat-button (click)="markAsFavPostHandler()">
            <span *ngIf="!isFav">⭐</span>
            <span *ngIf="isFav">❌</span>
        </button>
    </mat-card-actions>
</mat-card>