.toolbar {
    text-align: center;
    background-color: rgb(220, 114, 226);
}

.toolbar h1 {
    margin: 0;
    padding: 5px 0;
}

.toolbar .navigation {
    display: flex;
    margin: auto;
    max-width: 10vw;
}

.navigation .navigation-item {
    padding: 10px 12px;   
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: #000;
}

.navigation-item.active {
    font-weight: bold;
    border-bottom: 5px solid #000;
}

.navigation-item:hover {
    background-color: rgb(213, 98, 219);
}